* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-size: contain;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 33.33px; /*quiero 18 casillas y cada una debe medir 33.33px */
  width: 33.33px; /*Porque 600 / 18 = 33.33*/
  border: 1px solid transparent;
  box-shadow: 0 0 20px 0 rgb(182, 21, 21);
}

.snake {
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-image: url('https://media.giphy.com/media/3o72F7JTbNletrGzvO/giphy.gif');
}

.apple {
  background-image: url('https://media.giphy.com/media/i6JLRbk4f2gIU/giphy.gif');
  background-size: contain;
  border-radius: 7px;
  background-repeat: no-repeat;
}

.score {
  width: 100px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
  margin-left: 600px;
  font-size: 30px;
  font-family: Roboto;
  color: red;
}

.scoreTag {
  width: 100px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
  margin-left: 600px;
  font-size: 30px;
  font-family: Roboto;
  color: green;
}

.dead {
  width: 600px;
  height: 400px;
  background-image: url('https://media.giphy.com/media/ToMjGpx9F5ktZw8qPUQ/giphy.gif');
}

button {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
  background-color: rgb(0, 0, 0);
  color: red;
  border-radius: 40px;
}

/* 
* {
  box-sizing: border-box;
}

body {
  
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url('https://media.giphy.com/media/Ass7N88ITsb3a/giphy.gif');
  background-size: cover;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(44, 187, 0, 0.863);
  display: flex;
  flex-wrap: wrap;       

  width: 600px;  
  height: 600px;
}

.grid div {
  height: 33.33px;   
  width: 33.33px;
  border: 4px solid transparent;
}

.snake {
  background-image: url('https://media.giphy.com/media/vvW9GuxsGM4lcjqypz/giphy.gif');
  background-size: contain;
  border-radius: 95px;
  background-repeat: no-repeat;
  background-color: green;

}


.apple {
  background-image: url('https://media.giphy.com/media/i6JLRbk4f2gIU/giphy.gif');
  background-size: contain;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-color: green;
}


.score {

  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-left: 550px;
  font-size: 50px;
  color: green;
}

.scoreTag {

  width: 90px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-left: 500px;
  margin-top: 100px;
  color: green;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(44, 187, 0, 0.863);
 

}



.messageGameOver {
  background-image: url('https://media.giphy.com/media/dkuZHIQsslFfy/giphy.gif');
  width: 700px;
  height: 600px;
  background-size: cover
}

button {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 100px;
    margin-left: auto;
    color: green;
    border-radius: 100px;
    box-shadow: 0 0 20px 0 rgba(44, 187, 0, 0.959);
    
} */
